{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Create a new Player</h1>
        <p>Op deze pagina kunt u een player toeveogen of verwijderen.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ path('app_player') }}" method="post">
                            <div class="form-group">
                                <input type="text" id="playerName" name="playerName" class="form-control"
                                       placeholder="Player Name" required>
                            </div>
                            <div class="form-group mt-3">
                                <label for="team_id"></label>
                                <label for="team_id">Selecteer een team uit de dropdown (click op de placeholder)</label>
                                <select id="team_id" name="team_id" class="form-control">
                                    {% for team in teams %}
                                        <option value="{{ team.id }}">{{ team.teamName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Create Player</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="mt-5">List of Players</h2>
        <div class="row">
            <div class="col-md-6">
                {% if players|length > 0 %}
                    <ul class="list-group">
                        {% for player in players %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ player.playerName }}
                                (Team:
                                {% if player.team %}
                                    {{ player.team.teamName }}
                                {% else %}
                                    No team assigned
                                {% endif %}
                                )
                                <span>
                            <a href="{{ path('player_delete', {id: player.id}) }}" class="btn btn-sm btn-outline-danger"
                               onclick="return confirm('Are you sure?')">Delete</a></span>
                            </li>

                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No players available.</p>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
